<%- include('../layouts/header.ejs') %>

<style>
    html, body {
    height: 100%;
    margin: 0;
  }
  
  #wrapper {
    display: flex;
  }
  
  #sidebar-wrapper {
    min-height: 100vh; /* Set the minimum height of the sidebar to the viewport height */
   width: 200px;
  }
  
  /* Additional styling for other elements */
  /* Adjust as needed */
  #page-content-wrapper {
    flex: 1;
    padding: 20px; /* Example padding */
  }
  
  </style>
    <body id="reportsPage">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <h1 class="tm-site-title mb-0 font">
                        <span class="text-1000 text-white fs-1 mt-3 fw-bold ms-2">FINITO</span>
                    </h1>
                </div>
                <div class="list-group list-group-flush">
                    <!-- Sidebar items -->
                    <a href="/admin/home" class="list-group-item list-group-item-action bg-dark text-white">
                        Dashboard
                    </a>
                    <a href="/admin/userData" class="list-group-item list-group-item-action bg-dark text-white">
                        UserData
                    </a>
                    <a href="/admin/addProduct" class="list-group-item list-group-item-action bg-dark text-white">
                        Add Product
                    </a>
                    <a href="/admin/products" class="list-group-item list-group-item-action sidebar-link active text-white">
                        Products
                    </a>
                    <a href="/admin/category" class="list-group-item list-group-item-action bg-dark text-white">
                        Category
                    </a>
                    <a href="/admin/order" class="list-group-item list-group-item-action bg-dark text-white">
                        Order
                    </a>
                    <a href="/admin/coupon" class="list-group-item list-group-item-action bg-dark text-white">
                        Coupon
                    </a>
                    <a href="/admin/offer" class="list-group-item list-group-item-action bg-dark text-white">Offer</a>
                    <a href="/admin/banner" class="list-group-item list-group-item-action bg-dark text-white ">Banner</a>
                    <a href="/admin/logout" class="list-group-item list-group-item-action bg-dark text-white">Logout</a>
                </div>
                <!-- Additional sidebar items -->
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <!-- Your existing content -->
                    <!-- ... -->
                    <div class="container">
                        <!-- row -->

                        <div class="col-12 tm-block-col">
                            <div class="d-flex justify-content-end">
                                <form>
                                    <input class="bg-dark text-white" type="text" name="search">
                                    <input type="submit" class="btn btn-primary btn-lg" value="Search">
                                </form>
                            </div>
                            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                                <h2 class="tm-block-title">Products List</h2>
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Category</th>
                                            <th scope="col-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <div class="d-flex justify-content-end  mb-3"><a href="/admin/addProduct"
                                            class="btn btn-dark text-white">Add Product</a></div>

                                    <tbody>
                                        <% if (product.length> 0) {

                                            const reversedProducts = product.slice().reverse();

                                            reversedProducts.forEach(function(singleProduct) { %>
                                            <tr>
                                                <td>
                                                    <%= singleProduct.title %>
                                                </td>
                                                <td>
                                                    <%= singleProduct.brand %>
                                                </td>
                                                <td>
                                                    <%= singleProduct.price %>
                                                </td>
                                                <td>
                                                    <img width="15%" src="/proImage/<%= singleProduct.image[0] %>"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <%= singleProduct.category.category %>
                                                </td>
                                                <td>
                                                    <a href="/admin/editProduct?id=<%= singleProduct._id %>">
                                                        <button type="button"
                                                            class="btn btn-primary btn-sm rounded-pill">Edit</button>
                                                    </a>
                                                    <br><br>
                                                    <% if (singleProduct.is_show) { %>
                                                        <button type="button" data-bs-toggle="modal"
                                                            data-bs-target="#deletePro<%= singleProduct._id %>"
                                                            class="btn btn-danger btn-sm rounded-pill">Unlist</button>
                                                        <% } else { %>
                                                            <a href="/admin/deleteProduct?id=<%= singleProduct._id %>"
                                                                class="btn btn-success btn-sm rounded-pill">Show</a>
                                                            <% } %>

                                                                <div class="modal fade"
                                                                    id="deletePro<%= singleProduct._id %>" tabindex="-1"
                                                                    aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content text-dark">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLabel">Unlist
                                                                                    Product</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                Are you sure you want to Unlist this
                                                                                product
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close</button>
                                                                                <a
                                                                                    href="/admin/deleteProduct?id=<%= singleProduct._id %>">
                                                                                    <button type="button"
                                                                                        class="btn btn-danger">Unlist</button>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                </td>
                                            </tr>
                                            <% }); } else { %>
                                                <tr>
                                                    <td colspan="5">No Products to Display</td>
                                                </tr>
                                                <% } %>
                                    </tbody>



                                </table>
                                <%for(let j=1;j<=totalPages;j++){%>
                                    <a class="text-white btn-sm btn-secondary" href="?page=<%=j%>">
                                        <%=j%>
                                    </a>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </body>




    <%if(message){%>
        <script>
            new Swal({
                title: "Success",
                text: "<%=message%>",
                icon: "success",
                showConfirmButton: false,
                timer: 2000
            });
        </script>
        <%}%>




            <%- include('../layouts/footer.ejs') %>