<%- include('../layouts/header.ejs') %>


<style>
    html, body {
    height: 100%;
    margin: 0;
  }
  
  #wrapper {
    display: flex;
  }
  
  #sidebar-wrapper {
    min-height: 100vh; /* Set the minimum height of the sidebar to the viewport height */
   width: 200px;
  }
  
  /* Additional styling for other elements */
  /* Adjust as needed */
  #page-content-wrapper {
    flex: 1;
    padding: 20px; /* Example padding */
  }
  
  </style>

    <body id="reportsPage">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <h1 class="tm-site-title mb-0 font">
                        <span class="text-1000 text-white fs-1 mt-3 fw-bold ms-2">FINITO</span>
                    </h1>
                </div>
                <div class="list-group list-group-flush">
                    <!-- Sidebar items -->
                    <a href="/admin/home" class="list-group-item list-group-item-action bg-dark text-white">
                        Dashboard
                    </a>
                    <a href="/admin/userData" class="list-group-item list-group-item-action sidebar-link active text-white">
                        UserData
                    </a>
                    <a href="/admin/addProduct" class="list-group-item list-group-item-action bg-dark text-white">
                        Add Product
                    </a>
                    <a href="/admin/products" class="list-group-item list-group-item-action bg-dark text-white">
                        Products
                    </a>
                    <a href="/admin/category" class="list-group-item list-group-item-action bg-dark text-white">
                        Category
                    </a>
                    <a href="/admin/order" class="list-group-item list-group-item-action bg-dark text-white">
                        Order
                    </a>
                    <a href="/admin/coupon" class="list-group-item list-group-item-action bg-dark text-white">
                        Coupon
                    </a>
                    <a href="/admin/offer" class="list-group-item list-group-item-action bg-dark text-white">Offer</a>
                </div>
                <!-- Additional sidebar items -->
            </div>
            <!-- /#sidebar-wrapper -->
    
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <!-- Your existing content -->
                    <!-- ... -->

                    <div class="container">
                        <!-- row -->
        
                        <div class="col-12 tm-block-col">
                            <div class="d-flex justify-content-end">
                                <form>
                                    <input class="bg-dark text-white" type="text" name="search">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </form>
                            </div>
                            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                                <h2 class="tm-block-title">Users List</h2>
                                <table class="table  text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">phone</th>
                                            <th scope="col">Edits</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        <%let x=(page-1)*6%>
                                            <% if(users.length>0){
                                                for(let i=0;i<users.length;i++){ %>
                                                    <tr scope="row">
                                                        <td>
                                                            <%=x+1+i%>
                                                        </td>
                                                        <td>
                                                            <%=users[i].username%>
                                                        </td>
                                                        <td>
                                                            <%=users[i].email%>
                                                        </td>
                                                        <td>
                                                            <%=users[i].phone%>
                                                        </td>
        
                                                        <td>
                                                            <%if(users[i].is_blocked==0){%>
                                                                <button type="button" data-bs-toggle="modal"
                                                                    data-bs-target="#blockUser<%=users[i]._id%>"
                                                                    class="btn btn-danger btn-sm rounded-pill">Block</button>
                                                                <div class="modal fade" id="blockUser<%=users[i]._id%>"
                                                                    tabindex="-1" aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content text-dark">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                                    Block user</h5>
                                                                                <button type="button" class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                Are you sure you want to block this user
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close</button>
                                                                                <a href="/admin/blockUser?id=<%=users[i]._id%>"><button
                                                                                        type="button"
                                                                                        class="btn btn-danger">Block</button></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <%}else{%>
                                                                    <a href="/admin/unBlockUser?id=<%=users[i]._id%>"><button
                                                                            type="button"
                                                                            class="btn btn-success btn-sm rounded-pill">Unblock</button></a>
                                                                    <%}%>
        
                                                        </td>
                                                        <td>
                                                            <%=users[i].Status%>
                                                        </td>
                                                    </tr>
                                                    <% } } else{ %>
                                                        <tr>
                                                            <td colspan="5">Users Not Found</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
        
                                <%for(let j=1;j<=totalPages;j++){%>
                                    <a class="text-white btn-sm btn-secondary" href="?page=<%=j%>">
                                        <%=j%>
                                    </a>
                                    <%}%>
                                        <br><br>
                                        <form action="" method="GET">
                                            <input type="number" class="bg-secondary" name="page" min="1"
                                                max="<%= totalPages %>" value="<%= currentPage %>">
                                            <button type="submit" class="btn-secondary">Go</button>
                                        </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </body>
    

    <%- include('../layouts/footer.ejs') %>