<%- include('../layouts/headerUser.ejs') %>
<style>
    .cart-icon {
  position: relative;
  display: inline-block;
  align-items: center;
}

.icon_bag_alt {
  /* Your icon styles here */
  /* For example: */
  font-size: 24px;
  color: black;
}



.cart-counter {
  position: absolute;
  bottom: 10px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 20px; /* Set the width and height to create a circle */
  height: 20px; /* Same as width for a perfect circle */
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px; /* Center the text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>

    

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><a href="#"><span class="icon_heart_alt"></span>
           
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/" class="text-decoration-none">
            <span class="text-1000 text-dark fs-1 mt-3 fw-bold ms-2">FINITO</span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <% if(session!=null){
            %>
           <a class="dropdown-item" href="/logout">Logout</a>
           <% }else{%>
               <a class="dropdown-item" href="/login">Login</a>
               <a class="dropdown-item" href="/signup">Signup</a>
               <%}%>
    </div>
</div>



<!-- //////////////////////////////////// -->

<header class="header">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-4 ">
                    <div class="header__logo ml-3" >
                        <a href="/" class="text-decoration-none"><span class="text-1000 text-dark fs-1 mt-3 fw-bold ms-2">FINITO</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <nav class="header__menu row ">
                        <div class="col-2 ">
                            <a class="text-danger active" href="/">Home</a>
                        </div >
                        <div class="col-2">
                            <a class="" href="/shopPage">Shop</a>
                        </div>
                        <div class="col-2">
                            <a href="/userProfile">Profile</a>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 ">
                    <div class="header__right row ">
                        <div class="header__right__auth col">
                            <div class="btn-group">
                                <ul class="header__right__widget mt-2 mr-3">
                                    
                                    <li><a href="/wishlist" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist"><span class="icon_heart_alt"></span></a></li>
                                    <% if(session==null){%>
                                    <li><a href="/cart" data-bs-toggle="tooltip" data-bs-placement="top" title="Cart"><span class="icon_bag_alt"></span></a></li>
                                    <% }else{%>
                                    <div class="cart-icon">
                                        <a href="/cart">
                                          <span class="icon_bag_alt"></span>
                                          <span class="cart-counter"><%= counter%></span>
                                        </a>
                                      </div>
                                      <%}%>
                                   
                                    
                                </ul>
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24">
                                        <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0Zm-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z" />
                                            <path
                                                d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1ZM3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12Zm9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21Z" />
                                        </g>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <% if(session!=null){
                                         %>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                        <% }else{%>
                                            <li><a class="dropdown-item" href="/login">Login</a></li>
                                            <li><a class="dropdown-item" href="/signup">Signup</a></li>
                                            <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

<!-- <section class=" set-bg" >
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-8 m-auto">
              <div class="banner__slider owl-carousel">
                  <div class="banner__item">
                      <div class="banner__text">
                          <span></span>
                          <h1 class="text-dark">></h1>
                          <a href="/shopPage">Shop now</a>
                      </div>
                  </div>
                  <div class="banner__item">
                      <div class="banner__text">
                          <span></span>
                          <h1 class="text-dark"></h1>
                          <a href="/shopPage">Shop now</a>
                      </div>
                  </div>
                  <div class="banner__item">
                      <div class="banner__text">
                          <span></span>
                          <h1 class="text-dark"></h1>
                          <a href="/shopPage">Shop now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->


   
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New Products</h4>
                    </div>
                </div>
            </div>
            <div class="row property__gallery">
                <% if(product.length>0){
                    for(let i=0;i< product.length; i++){ %>
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12 mix">
                            <div class="product__item ">
                                <div class="product__item__pic set-bg d-flex justify-content-center">
                                    <a href="/singleProduct?id=<%=product[i]._id%>"><img
                                            src="/proImage/<%=product[i].image[0]%>" alt=""></a>
                                            <%if(product[i].stocks<=0){%>
                                                <div class="label stockout">out of stock</div>
                                            <%}else{%>
                                                <div class="label new">Fresh Arrivals</div>
                                                <%}%>
                                            
                                    <ul class="product__hover">
                                        <li><a href="/proImage/<%=product[i].image[0]%>" class="image-popup"><span
                                                    class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="/addToCart?id=<%=product[i]._id%>"><span class="icon_bag_alt"></span></a></li>
                                       
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a href="/singleProduct?id=<%=product[i]._id%>"><%-product[i].title%></a></h5>
                                    <div class="product__price">₹ <%-product[i].price%></div>
                                </div>
                            </div>
                        </div>
                        <% } } %>
            </div>
        </div>
    </section>




    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p>For all oder over $99</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->
 
      


    <%if(msg!=null){%>
      <script>
        new Swal({
          title: "Error",
          text: "<%=msg%>",
          icon: "error",
          showConfirmButton: false,
          timer: 2000
        });
      </script>
      <%}%>

      <%if(message!=null){%>
      <script>
        new Swal({
          title: "Success",
          text: "<%=message%>",
          icon: "success",
          showConfirmButton: false,
          timer: 2000
        });
      </script>
      <%}%>

     

    <%- include('../layouts/pagesFooter.ejs') %>