<%- include('../layouts/headerUser.ejs') %>
<!-- <section>

    <div class="col-lg-6 col-md-6 login">
      <h1>Password</h1>
      <div class="contact__form">
        <% if(typeof message !=='undefined' ){%>
          <p style="color: red;">
            <%= message %>
          </p>
          <% } %>
            <form action="/resetpass" method="post">
              <div class="row">
                <div class="col-6">
                  <input type="password" id="password" name="password" placeholder="New Password" required>
                  <input type="hidden" name="username" value="<%=username %>">
                </div>
                <div class="col-4">
                  <button type="submit" class="site-btn">Submit</button>
                </div>
              </div>
            </form>
      </div>
      
    </div>
  </section> -->



  <body class="img js-fullheight">
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class=" col-md-4 text-center mt-5">
          <form action="/resetpass" method="post" id="passwordForm">
            <div class="form-login ">
              <div><br> <a href="/" class="text-decoration-none"><span class="text-1000  text-white fs-1  fw-bold ms-2">FINITO</span></a></div>
              <br><br>
              <input class="form-control input-sm chat-input text-center" type="password" id="password" name="password" placeholder="New Password" required>
              <br>
              <input class="form-control input-sm chat-input text-center" type="password" id="Rpassword" name="Rpassword" placeholder="Confirm Password" required>
              
             
                  <input type="hidden" name="username" value="<%=username %>">
              </br>
              <% if(typeof message!='undefined'){ %>
                <h6 class="text-success txt-style">
                  <%= message %>
                </h6>
                <!-- <small class="text-danger txt-style">
                  <%= msg %>
                </small> -->
                <% } %>
                  </br></br>
                  <div class="wrapper">
                    <span class="group-btn">
                      <button type="submit" class="btn btn-success btn-lg txt-style">Submit</button>
                    </span>
                  </div>
          </form>

          <h6 class="text-warning font-weight-bold txt-style" id="error-container"></h6>
          <br>
          <!-- <div class="wrapper">
            <span class="group-btn">
              <br><a href="/login" class="btn btn-outline-success btn-lg txt-style">User Login</i></a>
            </span>
          </div> -->
          <br>
        </div>
      </div>
    </div>
    </div>
    </section>
  </body>

<script>
const form = document.getElementById('passwordForm');
const passwordInput = document.getElementById('password');
const confirmPasswordInput = document.getElementById('Rpassword');
const passwordRegex =/^(?=.*?[A-Z])(?=.*[a-z])(?=.*[0-9]){8,16}/gm; // Regular expression for password strength

form.addEventListener('submit', (event) => {
  let errors = [];

  if (passwordInput.value.trim() === '') {
    errors.push('Please enter a password.');
    passwordInput.classList.add('is-invalid');
  } else {
    passwordInput.classList.remove('is-invalid');
  }

  if (confirmPasswordInput.value.trim() === '') {
    errors.push('Please confirm your password.');
    confirmPasswordInput.classList.add('is-invalid');
  } else {
    confirmPasswordInput.classList.remove('is-invalid');
  }

  if (passwordInput.value !== confirmPasswordInput.value) {
    errors.push('Passwords do not match.');
    passwordInput.classList.add('is-invalid');
    confirmPasswordInput.classList.add('is-invalid');
  } else {
    passwordInput.classList.remove('is-invalid');
    confirmPasswordInput.classList.remove('is-invalid');
  }

  if (!passwordRegex.test(passwordInput.value)) {
    errors.push('Password should contain at least 8 characters, one uppercase letter, one lowercase letter, and one number.');
    passwordInput.classList.add('is-invalid');
  } else {
    passwordInput.classList.remove('is-invalid');
  }

  if (errors.length > 0) {
    event.preventDefault();
    const errorContainer = document.getElementById('error-container');
    errorContainer.innerHTML =errors;
  }
});


</script>

  
<%- include('../layouts/footerUser.ejs') %>