<%- include('../layouts/headerUser.ejs') %>
<!-- <section>

    <div class="col-lg-6 col-md-6 login">
      <h1>Password</h1>
      <div class="contact__form">
        <% if(typeof message !=='undefined' ){%>
          <p style="color: red;">
            <%= message %>
          </p>
          <% } %>
            <form action="/resetpass" method="post">
              <div class="row">
                <div class="col-6">
                  <input type="password" id="password" name="password" placeholder="New Password" required>
                  <input type="hidden" name="username" value="<%=username %>">
                </div>
                <div class="col-4">
                  <button type="submit" class="site-btn">Submit</button>
                </div>
              </div>
            </form>
      </div>
      
    </div>
  </section> -->



  <body class="img js-fullheight">
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class=" col-md-4 text-center mt-5">
          <form action="/resetpass" method="post">
            <div class="form-login ">
              <div><br> <a href="/" class="text-decoration-none"><span class="text-1000  text-white fs-1  fw-bold ms-2">FINITO</span></a></div>
              <br><br>
              <input class="form-control input-sm chat-input text-center" type="password" id="password" name="password" placeholder="New Password" required>
              <br>
              <input class="form-control input-sm chat-input text-center" type="password" id="Rpassword" name="Rpassword" placeholder="Confirm Password" required>
              

                  <input type="hidden" name="username" value="<%=username %>">
              </br>
              <% if(typeof message!='undefined'){ %>
                <small class="text-success txt-style">
                  <%= message %>
                </small>
                <!-- <small class="text-danger txt-style">
                  <%= msg %>
                </small> -->
                <% } %>
                  </br></br>
                  <div class="wrapper">
                    <span class="group-btn">
                      <button type="submit" class="btn btn-success btn-lg txt-style">Submit</button>
                    </span>
                  </div>
          </form>
          <br>
          <!-- <div class="wrapper">
            <span class="group-btn">
              <br><a href="/login" class="btn btn-outline-success btn-lg txt-style">User Login</i></a>
            </span>
          </div> -->
          <br>
        </div>
      </div>
    </div>
    </div>
    </section>
  </body>



  
<%- include('../layouts/footerUser.ejs') %>