<%- include('../layouts/commonHeader.ejs') %>


    <section class="">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-12">
                    <div class="card card-registration card-registration-2">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <!-- <div class="d-flex justify-content-between align-items-center mb-5"> -->
                                            <div class="section-title">
                                                <h4>Wishlist</h4>
                                            </div>
                                        <!-- </div> -->
                                        <%if(wishlist!==undefined){%>
                                            <%if(wishlist.wishlist){%>
                                                <%wishlist.wishlist.forEach((item)=>{%>
                                                    <%if(item.is_show===true){%>

                                                        
                                                           <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                            <div class="col-md-2 col-lg-2 col-xl-2 mb-3">
                                                                <img src="/proImage/<%=item.image[0]%>"
                                                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-3 mb-3">
                                                                <h6 class="text-muted">
                                                                    <%=item.title%>
                                                                </h6>
                                                            </div>
                                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mb-3">
                                                                <h6 class="mb-0" id="productTotal<%=item._id%>">₹
                                                                    <%=item.price%>
                                                                </h6>
                                                            </div>
                                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                                <td class="cart__close mr-3"><a
                                                                        href="/removeWishlist?id=<%=item._id%>"
                                                                        class="remove-wishlist"
                                                                        data-product-id="<%=item._id%>"><span><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="24" height="24"
                                                                                viewBox="0 0 24 24">
                                                                                <path fill="currentColor"
                                                                                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z" />
                                                                            </svg></span></a></td>
                                                                <td class="cart__close ml-3"><a
                                                                        href="/addToCart?id=<%=item._id%>" ><span><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="16" height="16"
                                                                                fill="currentColor" class="bi bi-cart"
                                                                                viewBox="0 0 16 16">
                                                                                <path
                                                                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                                            </svg></span></a></td>
                                                            </div>
                                                            <div class="col-md-1 col-lg-1 col-xl-1">

                                                            </div>
                                                        </div>

                                                        <hr class="my-4">
                                                        <%}%>

                                                            <%})%>
                                                                <%}%>
                                                                    <%}%>
                                                                        <div class="row">
                                                                            <div class=" d-flex justify-content-end">
                                                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                                                    <div class="cart__btn update__btn">
                                                                                        <a href="/"><span
                                                                                                class="icon_loading"></span>
                                                                                            Continue shoping</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%if(message!=null){%>
        <script>
            new Swal({
                title: "Success",
                text: "<%=message%>",
                icon: "success",
                showConfirmButton: false,
                timer: 2000
            });
        </script>
        <%}%>



            <script>

$(document).ready(function() {
        $('.remove-wishlist').on('click', function(event) {
            event.preventDefault(); // Prevent the default behavior of the anchor tag
            
            const productId = $(this).data('product-id');
            
            // Show a confirmation dialog using SweetAlert
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to remove this item from your wishlist?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                // If the user confirms deletion
                if (result.isConfirmed) {
                    // Send AJAX request to remove the item from the wishlist
                    $.ajax({
                        url: `/removeWishlist?id=${productId}`,
                        method: 'GET',
                        success: function(response) {
                            if (response.success) {
                                // Remove the item from the wishlist on the client-side without reloading
                                location.reload();
                                $(event.target).closest('li').remove();
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error removing item from wishlist:', error);
                        }
                    });
                }
            });
        });
    });
            </script>


<!-- 
<script>

    $(document).ready(function() {
        $('body').on('click', '#addToCartLink', function(event) {
            event.preventDefault(); // Prevent default anchor tag behavior
    
            const productId = $(this).data('product-id');
    
            $.ajax({
                url: `/addToCart?id=${productId}`,
                method: 'GET',
                success: function(response) {
                    if (response.success === 'Item successfully added') {
                        // Show success message using SweetAlert for item successfully added
                        location.reload();
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Item successfully added to the cart'
                        });
                    } else if (response.success === 'Item out of stock') {
                        // Show warning message using SweetAlert for item out of stock
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning!',
                            text: 'Item is out of stock'
                        });
                    } else {
                        // Show error message using SweetAlert for other responses or errors
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Failed to add item to the cart'
                        });
                    }
                },
                error: function(xhr, status, error) {
                    // Handle AJAX errors by displaying an error message using SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Failed to add item to the cart'
                    });
                    console.error('Error adding item to cart:', error);
                }
            });
        });
    });
                        </script> -->



            <%- include('../layouts/pagesFooter.ejs') %>